.details-page {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;

  .details-company-container {
    @extend .container;
    @extend .small;
    margin-bottom: 32px;

    .details-company {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: var(--filters-bg-color);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
      overflow: hidden;

      .job-logo-container {
        flex-shrink: 0;
        width: 140px;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;

        .job-logo {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .company-info {
        padding: 20px 40px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .company-name {
          font-family: $fontKumbh;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 100%;
          color: var(--text-color);
          margin: 0 0 13px;
        }

        .company-website {
          font-family: $fontKumbh;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 100%;
          color: #6E8098;
          margin: 0;
        }
      }

      .company-link-section {
        padding: 20px 40px 20px 0;

        .company-link {
          @extend .button;
          @extend .light;
        }
      }
    }
  }

  .details-job-container {
    @extend .container;
    @extend .small;
    margin-bottom: 80px;

    .details-job {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: var(--filters-bg-color);
      border-radius: 6px;
      padding: 48px;

      .details-top-info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        .left-side {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .job-post {
            display: flex;
            align-items: center;
            margin: 0 0 16px;

            span {
              display: flex;
              align-items: center;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 16px;
              color: $darkGrey;

              &:first-child:after {
                content: '';
                display: flex;
                margin: 0 12px;
                width: 4px;
                height: 4px;
                border-radius: 4px;
                background-color: $darkGrey;
              }
            }
          }

          .job-title {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
            color: var(--text-color);
            margin: 0 0 16px;
          }

          .job-country {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 14px;
            color: $violet;
            margin: 0;
          }
        }

        .right-side {
          .apply-button {
            @extend .button;
          }
        }
      }

      .job-description {
        font-family: $fontKumbh;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: var(--light-text-color);
        margin: 0;
      }

      .job-requirements-title {
        font-family: $fontKumbh;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 100%;
        color: var(--text-color);
        margin: 40px 0 30px;
      }

      .job-requirements-text {
        font-family: $fontKumbh;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: var(--light-text-color);
        margin: 0;
      }

      .job-requirements-list {
        margin: 24px 0 0;
        padding-left: 20px;

        li {
          font-family: $fontKumbh;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 160%;
          color: var(--light-text-color);
          margin: 0 0 8px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .job-application-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--filters-bg-color);
    padding: 22px 0;

    .job-application-container {
      @extend .container;
      @extend .small;

      .job-application {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-side {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .application-title {
            font-family: $fontKumbh;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 100%;
            color: var(--text-color);
            margin: 0 0 12px;
          }

          .application-company {
            font-family: $fontKumbh;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 100%;
            color: #6E8098;
            margin: 0;
          }
        }

        .right-side {
          .apply-button {
            @extend .button;
          }
        }
      }
    }
  }
}
