.header {
  width: 100%;
  min-height: 162px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('~@/assets/desktop/bg-pattern-header.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  padding-top: 45px;

  @media (max-width: 767px) {
    padding-top: 32px;
    min-height: 136px;
    background-image: url('~@/assets/mobile/bg-pattern-header.svg');
  }

  .top-header {
    @extend .container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

    .header-logo {
      display: flex;

      img {
        height: 32px;
      }
    }

    .app-mode-switcher-container {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover .app-mode-switcher:before {
        background-color: $lightViolet;
      }

      svg.sun {
        height: 18px;
      }

      svg.moon {
        height: 12px;
      }

      .app-mode-switcher {
        position: relative;
        display: flex;
        margin: 0 16px;
        width: 48px;
        height: 24px;
        background-color: $white;
        border-radius: 12px;

        &:before {
          content: '';
          position: absolute;
          width: 14px;
          height: 14px;
          border-radius: 14px;
          background-color: $violet;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          transition: left ease-out .2s, background-color ease-out .2s;
        }

        &.isDarkMode::before {
          left: calc(100% - 19px);
        }
      }
    }
  }
}
