h1 {
  font-family: $fontKumbh;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
}

h2 {
  font-family: $fontKumbh;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

h3 {
  font-family: $fontKumbh;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

h4 {
  font-family: $fontKumbh;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
}

.reading-text {
  font-family: $fontKumbh;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: $white;
  background-color: $violet;
  border-radius: 5px;
  padding: 16px 20px;
  min-width: 141px;
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  transition: background-color ease-out .2s;

  &:hover {
    background-color: $lightViolet;
  }
}
