@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Colors
$violet: #5964E0;
$lightViolet: #939BF4;
$veryDarkBlue: #19202D;
$midnight: #121721;
$white: #FFFFFF;
$lightGrey: #F4F6F8;
$gray: #9DAEC2;
$darkGrey: #6E8098;

// Fonts
$fontKumbh: 'Kumbh Sans', sans-serif;

// Modes
:root {
  // Main
  --text-color: #19202D;
  --app-bg-color: #f2f2f2;
  // Header
  --filters-bg-color: #fff;
  --checkbox-bg-color: #E7E8E9;
  --placeholder-color: #8C8F96;
}

#app.darkMode {
  // Main
  --text-color: #fff;
  --app-bg-color: #121721;
  // Header
  --filters-bg-color: #19202D;
  --checkbox-bg-color: #313743;
}

// Main classes
.container {
  width: 100%;
  max-width: calc(1110px + 48px);
  padding: 0 20px;
}
