@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Colors;
$activeColor: #4661E6;
$orange: #F49F85;
$pink : #AD1FEA;
$blue: #62BCFA;
$light: #F2F4FF;
